@import url(https://fonts.googleapis.com/css?family=Raleway);
@import url('https://fonts.googleapis.com/css2?family=Forum&display=swap');

* {

    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.homePage {
    margin: auto;
    background-image: url('../../Assets/unsplashCinco.jpg');
    width: 100%;
    min-height: 150vh;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
}

.homeOne {
    margin: auto;
    width: 90%;
    height: 870px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-right: 2px;
}

.homeChil {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

}


.astro {

    margin-right: 200px;
    height: 440px;
    animation: scale 4s forwards cubic-bezier(0.5, 1, 0.89, 1);
}

@media (max-width: 425px) {
    .homeOne {
        height: 400px;
    }

    .astro {
        margin-right: 30px;
        height: 160px;
        animation: scale 4s forwards cubic-bezier(0.5, 1, 0.89, 1);
    }

    .textContent {
        font-size: 1.5rem !important;

    }
}

@media (max-width: 768px) {
    .homeOne {
        height: 400px;
    }

    .astro {
        margin-right: 30px;
        height: 160px;
        animation: scale 4s forwards cubic-bezier(0.5, 1, 0.89, 1);
    }

    .textContent {
        font-size: 1.5rem !important;

    }


}


@keyframes scale {
    100% {
        transform: scale(2);
    }
}

.Text {
    z-index: 1;
    width: 50%;
    height: 400px;
    margin-top: 50px;
    text-align: center;
    padding: 20px;
    display: flex;
    align-items: center;
}

.textContent {
    overflow: hidden;
    font-size: 4rem;
    font-family: Forum;
    font-weight: 700;
    color: rgb(0, 0, 0);
}

.textSeg {
    color: white;
}

.homeTwo {

    margin: auto;
    width: 100%;
    margin-top: 80px;
    background: #EF8A33;
    opacity: 0.9;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    border: 1px solid rgba(255, 255, 255, 0.3);
}

.waveOne {
    width: 100%;
    margin-top: -700px;
}

.inter {
    background-image: url('../../Assets/unsplash.jpg');
    margin: auto;
    width: 100%;
    min-height: 100vh;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}

.homeThree {
    margin: auto;
    width: 100%;

}

.arrow-up {
    font-size: 17px;
    font-weight: 500;
    line-height: 15px;
    position: fixed;
    z-index: 9000;
    right: 25px;
    bottom: 20px;
    display: none;
    visibility: hidden;
    overflow: hidden;
    padding: 10px 13px;
    cursor: pointer;
    transition: .15s ease-in-out;
    text-align: center;
    opacity: 0;
    border: 2px solid transparent;
    border-radius: 2px;
    background-color: rgb(255, 255, 255);
}

.arrow-up.is-block {
    display: block;
}

.arrow-up.is-opacity {
    opacity: 1;
    visibility: visible;
}

