@import url('https://fonts.googleapis.com/css2?family=Forum&family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Forum&display=swap');

@media (max-width: 495px) {
    .form-container-main {
        min-height: 100vh;
        width: 60%;
        display: block;

        font-family: Forum;
    }

    h1 {
        font-size: 40px !important;
        display: contents;
    }

    input {
        font-size: 17px !important;
        min-width: 240px !important;


    }

    textarea {
        font-size: 10px;
        min-width: 200px !important;
    }

    .model {
        height: 200px !important;
        width: 200px !important;
    }

    .form {
        min-height: 187px !important;
        min-width: 300px !important;
        gap: 22px;
    }

    .form-container {
        width: 60%;

    }



}

@media only screen and (device-height: 926px) and (-webkit-device-pixel-ratio: 3) and (device-width: 428px) and (device-height: 926px) and (-webkit-device-pixel-ratio: 3) and (device-width: 428px) and (device-height: 926px) and (-webkit-device-pixel-ratio: 3) {

    .form-container-main {
        min-height: 100vh;
        width: 60%;
        display: block;

        font-family: Forum;
    }

    h1 {
        font-size: 40px !important;
    }

    input {
        font-size: 17px !important;
        min-width: 140px !important;


    }

    textarea {
        font-size: 10px;
        min-width: 200px !important;
    }

    .model {
        height: 200px !important;
        width: 200px !important;
    }

    .form {
        min-height: 187px !important;
        min-width: 300px !important;
        gap: 22px;
    }

    .form-container {
        width: 60%;

    }



}

.form-container-main {
    min-height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Forum;
}

.form-container {
    width: 80%;
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-left: 20px solid #EF8A33;
    background: rgba(239, 138, 51, 0.23);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border-radius: 16px;
}

.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 387px;
    min-width: 729px;
    gap: 22px;
}

.form-image {
    display: grid;
    grid-template-columns: repeat(auto-fit,
            minmax(200px,
                1fr));
    align-items: center;
    justify-content: center;
    gap: 1px;
    align-content: space-around;
    justify-items: center;

}

.contForm {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.model {
    height: 300px;
    width: 400px;
}

h1 {
    font-size: 80px;
}

input {
    font-size: 20px;
    min-width: 500px;
    height: 40px;
    font-family: Inter;
    background: #fefefebd;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border-radius: 5px;
}

textarea {
    font-size: 20px;
    min-width: 500px;
    font-family: Inter;
    background: rgba(249, 249, 249, 0.749);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border-radius: 5px;
}

.button {
    width: 140px;
    height: 45px;
    font-family: 'Roboto', sans-serif;
    font-size: 11px;
    text-transform: uppercase;
    letter-spacing: 2.5px;
    font-weight: 500;
    color: #ffffff;
    background-color: #000000;
    border: none;
    border-radius: 45px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
}



.button.accept-btn:hover {
    background-color: #EF8A33;
    box-shadow: 0px 15px 20px #ed8d3a;
    color: #fff;
    transform: translateY(-7px);
}