.Pokedex {

    background-image: url(../../Assets/unsplashCinco.jpg);
    width: 100%;
    min-height: 100vh;
    background-attachment: fixed;
}

.contetPokedex {
    background: rgba(255, 255, 255, 0.43);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    margin: 40px;
}

.tituloPokedex {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 80px;
    font-family: Forum;


}

.Search {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}

.pokegallery {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    margin-top: 50px;
}

.cardPoke {
    width: 20rem;
    height: 30rem;
    background: rgba(255, 28, 28, 0.798);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgb(0, 0, 0);
    backdrop-filter: blur(8.3px);
    -webkit-backdrop-filter: blur(8.3px);
    border: 3px solid rgba(255, 255, 255, 0.946);
    margin: 20px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
}

.Pokemon {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(253, 239, 147);
    margin: 24px;
    border-radius: 16px;
}

.imgPoke {
    height: 200px;
    border-radius: 16px;
}

.Pokeball {
    position: absolute;
    z-index: 2;
    margin-top: 95px;
    margin-left: 135px;
}

.pokeballimg {
    height: 50px;

}

.textPoke {
    font-family: Forum;
    text-align: center;
    border-radius: 0 0 10px 10px;
    border: 5px solid rgb(0, 0, 0);
    background: rgba(255, 255, 255, 0.946);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    font-size: 50px;
    justify-content: space-evenly;
    padding: 50px;
    
}


.pokeball {
    width: 60px;
    height: 60px;
    background-color: #fff;
    border-radius: 50%;
    position: relative;
    overflow: hidden;
    border: 3px solid;
    animation: frames .8s linear 0s infinite;
    margin: 140px;
}

.pokeball:after {
    content: '';
    position: absolute;
    width: 60px;
    height: 30px;
    background-color: red;
    border-bottom: 4px solid;
    top: -4px
}

.pokeball:before {
    content: '';
    position: absolute;
    background-color: #fff;
    width: 10px;
    height: 10px;
    border: 4px solid;
    border-radius: 50%;
    bottom: 18px;
    right: 18px;
    z-index: 1;
}

/* AnimationFrames */
@keyframes frames {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}